//move this inside vars folder as config.env

NODE_ENV=development
PORT=3000
DATABASE=
DATABASE_PASSWORD=

JWT_SECRET=any-secret-any-word-you-want
JWT_EXPIRES_IN=30d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_USERNAME=mailtrap.io-username
EMAIL_PASSWORD=mailtrap.io-password
EMAIL_HOST=mailtrap.io-host
EMAIL_PORT=25

CLOUD_NAME= cloudinary.name
CLOUDINARY_KEY= cloudinary.key 
CLOUDINARY_SECRET= cloudinary.secret